
.react-flow__node {
  border-radius: 6px;
  padding: 0;
  color: inherit;
}

.react-flow__handle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9E76FF;
  border: 2px solid white;
}

.react-flow__handle:hover {
  background-color: #7C4DFF;
}

.react-flow__edge-path {
  stroke-width: 2;
}

.react-flow__controls {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: white;
}

.react-flow__controls button {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
}

.react-flow__controls button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.react-flow__controls button path {
  fill: #666;
}

.react-flow__minimap {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark .react-flow__controls,
.dark .react-flow__minimap {
  background-color: hsl(224 71% 4%);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dark .react-flow__controls button path {
  fill: #ccc;
}

.dark .react-flow__controls button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark .react-flow__handle {
  border-color: hsl(224 71% 4%);
}

.dark .react-flow__attribution a {
  color: rgba(255, 255, 255, 0.7);
}
